<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Web Application from Archetype for Servlet 3.1</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
<!-- 	<request-character-encoding>UTF-8</request-character-encoding> -->
<!-- 	<response-character-encoding>UTF-8</response-character-encoding> -->
	
	<!-- spring 註冊listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- java組態設定，不寫預設就是xml組態。IoC容器 -->
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
        </param-value>
	</context-param>
	<!-- java組態設定，不寫預設就是xml組態。AppConfig檔案 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>core.config.AppConfig</param-value>
	</context-param>
	
    <!-- Hibernate filter 配合延遲載⼊的相關程式 -->
	<filter>
		<filter-name>HibernateFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
</web-app>
